
/* Ice cream theme */
body.icecream{
    background: var(--icecream-skintone);
}
body.icecream header{
    background: var(--icecream-pinkish);
}
body.icecream nav.menu a{
    border-color: var(--icecream-pinkish);
    color: var(--icecream-pinkish);
}
body.icecream nav.menu a[aria-current]{
    background: var(--icecream-pinkish);
    color: white;
}
body.icecream .blog_post{
    background: var(--icecream-yellowish);
    padding: 10px;
    margin: 10px 0;
}


/* Macha */
body.macha{
    background: var(--macha-white);
}
body.macha header{
    background: var(--macha-brightGreen);
}
body.macha nav.menu a{
    border-color: var(--macha-brightGreen);
    color: var(--macha-brightGreen);
}
body.macha nav.menu a[aria-current]{
    background: var(--macha-brightGreen);
    color: white;
}



/* Beer */
body.beer{
    background: var(--beer-dirtWhite);
}
body.beer header{
    background: var(--beer-darkOrange);
}
body.beer nav.menu a{
    border-color: var(--beer-darkOrange);
    color:var(--beer-darkOrange);
}
body.beer nav.menu a[aria-current]{
    background: var(--beer-darkOrange);
    color: white;
}