p{
    margin: 0;
}
a{
    color: white;
    font-family: var(--header-font);
    font-weight: 600;
}

/* Global transitions */
header,
nav,
li{
    transition: .5s;
}
a{
    transition: .25s;
}
h1,
h2,
h3,
h4{
    font-family: var(--header-font);
}
/* header
######################################### */
header .content{
    max-width: 960px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
header .themes{
    display: flex;
    justify-content: center;
    align-items: center;
}
header svg{
    width: 70px;
    height: 70px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
    margin: 0 10px;
}
header svg:hover{
    background: rgba(255,255,255,.8);
}
header svg > path{
    transition: 1s;
}

header svg.active{
    background: rgba(255,255,255,.8);
}

/* Macha 
-------------------*/
header svg#macha .outline{
    fill: white;
}

header svg#macha .bottom_half,
header svg#macha .top_half,
header svg#macha .leaf,
header svg#macha .bottom{
    fill: transparent;
}

header svg#macha.active .outline,
header svg#macha:hover .outline{
    fill: var(--macha-brightGreen);
}
header svg#macha.active .bottom_half,
header svg#macha.active .top_half,
header svg#macha:hover .bottom_half,
header svg#macha:hover .top_half{
    fill: var(--macha-white);
}
header svg#macha.active .leaf,
header svg#macha.active .bottom,
header svg#macha:hover .leaf,
header svg#macha:hover .bottom{
    fill: var(--macha-darkGreen);
}

/* Beer 
-------------------*/

header svg#beer .outline{
    fill: white;
}
header svg#beer .middle,
header svg#beer .handle,
header svg#beer .foam{
    fill: transparent;
}

/* hover */
header svg#beer.active .outline,
header svg#beer:hover .outline{
    fill: var(--beer-darkOrange);
}
header svg#beer.active .middle,
header svg#beer:hover .middle{
    fill: var(--beer-lightOrange);
}
header svg#beer.active .foam,
header svg#beer:hover .foam{
    fill: var(--beer-dirtWhite);
}
header svg#beer.active .handle,
header svg#beer:hover .handle{
    fill: var(--beer-dirtWhite);
}

/* Icecream
-------------------*/

header svg#icecream .outline{
    fill:white;
}
header svg#icecream .cone,
header svg#icecream .ice{
    fill: transparent;
}

header svg#icecream.active .ice,
header svg#icecream:hover .ice{
    fill: var(--icecream-pinkish);
}
header svg#icecream.active .cone,
header svg#icecream:hover .cone{
    fill: var(--icecream-skintone);
}
header svg#icecream.active .outline,
header svg#icecream:hover .outline{
    fill: var(--icecream-yellowish);
}

/* Nav
######################################### */
nav.menu{
    display: flex;
    justify-content: center;
}
nav.menu a{
    padding: 5px;
    width: 100px;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    color: white;
}
nav.menu a:first-of-type{
    border-radius: 0 0 0 10px;
    border-right: none;
}
nav.menu a:last-of-type{
    border-radius: 0 0 10px 0;
    border-left: none;
}
body nav.menu a[aria-current]{
    background: blueviolet;
}
/* Main
######################################### */
main{
    margin: auto;
    margin-top: 50px;
    max-width: 900px;
}
.blog_post{
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.33);
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}
.blog_post a{
    color: white;
}
main a{
    color: black;
    text-decoration: underline;
}
main .blog_detail header{
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    opacity: .5;
    transition: .5s;
}
main .blog_detail header:hover{
    opacity: 1;
}
main .blog_detail header h1,
main .blog_detail header h2{
    margin: 10px 0;
    font-size: 1rem;
}
main .blog_detail header h1{
    font-size: .8rem;
    margin: 0;
}

/* Home
######################################### */
main .home .powererd_by{
    width: 400px;
    margin: auto;
    margin-top: 100px;
}
main .home .powererd_by h2{
    text-align: center;
    font-style: italic;
}
main .home .powererd_by svg{
    width: 150px;
    padding: 20px;
    cursor: pointer;
}
main .home .powererd_by .logos{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
    align-items: center;
}


/* Blog
######################################### */
main .blog_detail .blog_content{
    background: white;
    padding: 20px;
    margin-bottom: 50px;
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.05);
}
main .blog_detail .blog_content p,
main .blog_detail .blog_content h1,
main .blog_detail .blog_content h2,
main .blog_detail .blog_content h3,
main .blog_detail .blog_content h4{
    font-family: var(--blog-font);
}
main .blog_detail .blog_content h1{
    font-size: 1.8rem;
}
main .blog_detail .blog_content h2{
    font-size: 1.6rem;
}
main .blog_detail .blog_content p{
    font-size: .9rem;
    margin-bottom: 1rem;
}