p{
    margin: 0;
}
header .content{
    width: 960px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
header .themes{
    display: flex;
    justify-content: center;
    align-items: center;
}
header svg{
    width: 70px;
    height: 70px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
    margin: 0 10px;
}
header svg:hover{
    background: rgba(255,255,255,.8);
}
header svg > path{
    transition: 1s;
}

header svg.active{
    background: rgba(255,255,255,.8);
}

/* Macha 
-------------------*/
header svg#macha .outline{
    fill: white;
}

header svg#macha .bottom_half,
header svg#macha .top_half,
header svg#macha .leaf,
header svg#macha .bottom{
    fill: transparent;
}

header svg#macha.active .outline,
header svg#macha:hover .outline{
    fill: var(--macha-brightGreen);
}
header svg#macha.active .bottom_half,
header svg#macha.active .top_half,
header svg#macha:hover .bottom_half,
header svg#macha:hover .top_half{
    fill: var(--macha-white);
}
header svg#macha.active .leaf,
header svg#macha.active .bottom,
header svg#macha:hover .leaf,
header svg#macha:hover .bottom{
    fill: var(--macha-darkGreen);
}

/* Beer 
-------------------*/

header svg#beer .outline{
    fill: white;
}
header svg#beer .middle,
header svg#beer .handle,
header svg#beer .foam{
    fill: transparent;
}

/* hover */
header svg#beer.active .outline,
header svg#beer:hover .outline{
    fill: var(--beer-darkOrange);
}
header svg#beer.active .middle,
header svg#beer:hover .middle{
    fill: var(--beer-lightOrange);
}
header svg#beer.active .foam,
header svg#beer:hover .foam{
    fill: var(--beer-dirtWhite);
}
header svg#beer.active .handle,
header svg#beer:hover .handle{
    fill: var(--beer-dirtWhite);
}

/* Icecream
-------------------*/

header svg#icecream .outline{
    fill:white;
}
header svg#icecream .cone,
header svg#icecream .ice{
    fill: transparent;
}

header svg#icecream.active .ice,
header svg#icecream:hover .ice{
    fill: var(--icecream-pinkish);
}
header svg#icecream.active .cone,
header svg#icecream:hover .cone{
    fill: var(--icecream-skintone);
}
header svg#icecream.active .outline,
header svg#icecream:hover .outline{
    fill: var(--icecream-yellowish);
}